#nav { 
    margin: 20px; 
}
#nav a {
    margin:5px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 4px;
    color: #333;
	text-transform:uppercase;
/*    padding: 4px 16px;*/
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
#nav a:hover {
    background-color: #CCC;
}
#nav a.cycle-pager-active { 
    background: #2373bd; 
    color:#FFF;
}
#nav a { 
    display:inline-block; 
}
#nav a:focus { 
    outline: none; 
}
#slider slideshow img {
    display: none;
} 
#slider slideshow img.first {
    display: block;
}
#slideshow { 
    border: 1px solid #787878; 
}
.form-control {
    background-color: #FFF !important;
}
